.link-arrow {
    display: inline;
    transition: all 0.1s ease-out 0.1s;
    left: 3px;
}

.component__link {
    display: inline;

    .link-arrow {
        display: inline !important;
        transition: all 0.1s ease-out 0.1s;
        left: 3px;
    }

    &:hover {
        .link-arrow {
            display: inline;
            transition: all 0.1s ease-out 0.1s;
            left: 8px;
    }
    }
}
