.login-height {
  height: 92vh;
}

.registration-height {
  height: 92vh;
}

.create-invite-button {
  padding-top: 23px;
}

.react-trello-board {
  background-color: white;
  height: 94vh;
  margin-top: -22px;
}